.item {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: box-shadow .3s;
    border-radius: 5%;
    padding: .3rem;
}

.item img {
    width: 100%;
}

.item:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
    border: 1px solid #ccc;
  }